### Написать функцию, которая "сжимает" повторяющиеся символы в строке.
Кодирование осуществляется следующим образом:
s = 'aaaabbсaa' преобразуется в 'a4b2с1a2', то есть группы одинаковых символов исходной строки заменяются на этот символ и количество его повторений в этой позиции строки.

Необходимо считать данные из файла и перезаписать ответ

In [61]:
!cat 1.txt

aaabbbcccs

In [66]:
input_str = ''
with open('1.txt', 'r') as f:
    first_str = f.readline().strip()
    input_str += first_str

In [67]:
input_str

'aaabbbcccs'

In [72]:
def count_letters(input_str):
    
    try:
        result = ''
        counter = 1

        for i, char in enumerate(input_str):
            if char == input_str[i + 1]:
                counter += 1
            else:
                result += char + str(counter)
                counter = 1
    except IndexError:
        result += char + str(counter)
        return result

In [73]:
count_letters(input_str)

'a3b3c3s1'

In [74]:
a = count_letters(input_str)

In [75]:
with open('1.txt', 'w') as f:
    f.write(a)

In [76]:
!cat 1.txt

a3b3c3s1

### Написать функцию, которая считает количество строк, слов и символов в файле

In [77]:
!cat 2.txt

shjdkfgkljh,kdjfks
dflkvnldfnv
ijhfd
435

In [96]:
def counter(file_name):
    lines = 0
    words = 0
    char = 0
    puncuation = [' ', ',', '.', ':', ';', '-']
    
    for line in open(file_name):
        lines += 1
        char += len(line)
        
        pos = 'out'
        for letter in line:
            if letter not in puncuation and pos == 'out':
                words += 1
                pos = 'in'
            elif letter in puncuation:
                pos = 'out'        
        
    return lines, char, words

In [97]:
counter('2.txt')

(4, 42, 5)

### h1-h6 -	cоздают заголовки шести уровней для связанных с ними разделов.
### hr	- горизонтальная линия для тематического разделения параграфов.
### table -	тег для создания таблицы.
### thead - oпределяет заголовок таблицы.
### tr	- cоздает строку таблицы.
### th	- cоздает заголовок ячейки таблицы.
### tbody	- oпределяет тело таблицы.

In [98]:
!cat test.csv

In [99]:
with open('test.csv', 'r') as f:
    data = [l.strip() for l in f.readlines()]

In [102]:
headers = data[0].split(';')

In [104]:
rows = [l.split(';') for l in data[1:]]

In [106]:
html = ''
html += '<h1>Cars Dataset</h1>'

html += '<table>'
html += '<thead>'
html += '<tr>'

for header in headers:
    html += f'<th>{header}</th>'

html += '</tr>'
html += '</thead>'

html += '<tbody>'

for row in rows:
    html += '<tr>'
    for value in row:
        html += f'<td>{value}</td>'
    html += '</tr>'

html += '</tbody>'
html += '</table>'

In [107]:
with open('test.html', 'w') as f:
    f.write(html)